
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    background-image: url("/Users/mariogarciatortosa/Desktop/mario web/fotoinicio copia.jpg");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.enterbutton {
    width: 20%;
    display: block;
    padding: 0px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
       
    /* HOLI VERO, NO SE PERQUE ACÍ TINC EL IN-LINE BLOCK I EN L'ALTRE INLINE SOLES XD MARE MIA... */
}

.enterbutton:hover {
    content: url(enterhover.png);
    cursor: pointer;
}



/* .imghover {
    display: none;
    width: 35%;
    position: absolute;
    left: 50%;
    margin-left: -17.5%;
    z-index: 9;
    
} */

/* .imghover :hover {
    display: inline;
    } */


/*.enterbutton .imghover {
    display: none;
}

.enterbutton :hover .imghover {
    display: inline;
    position: absolute;
    z-index: 7;
}*/

h1{
    
    width: 30%;
    top: 20%;
    left: 50%;
    margin-left: -15%;
    position: absolute;
    text-align: center;
    color: white;
    text-transform: uppercase;

}

h2 {

    width: 30%;
    position: absolute;
    top: 17%;
    left: 50%;
    margin-left: -15%;
    color: white;
    text-align: center;
    
    
}

h1, 
h2 {
    font-family: Poppins;
    
    /* font-size: 0,5vw; */

}


